@import url(css/owl.carousel.css);

body {
  font-family: "Poppins", sans-serif;
  color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #e60000;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%; }

.link-two {
  color: #000000;
  transition: all 0.5s ease;
}
.link-two:hover {
  text-decoration: underline;
  color: #000000;
}

.link-one {
  color: #000000;
  transition: all 0.5s ease;
}
.link-one:hover {
  color: #000000;
  text-decoration: none;
}

.link-icon {
  color: #000000;
  font-weight: 500;
}
.link-icon span {
  font-size: 14px;
  padding-left: 4px;
  vertical-align: middle;
}

.link-a {
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .link-a {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .link-a {
    font-size: 1rem;
  }
}
.link-a:hover {
  color: #ffffff;
  text-decoration: none;
}
.link-a span {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .link-a span {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .link-a span {
    font-size: 18px;
  }
}

.text-brand {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (max-width: 767px) {
  .text-brand {
    font-size: 1.2rem;
  }
}

.color-a {
  text-decoration: none;
  color: #000000;
}

.color-b {
  color: #e60000;
}

.color-d {
  color: #adadad;
}

.color-text-a {
  text-decoration: none;
  color: #555555;
}

.no-margin {
  margin: 0;
}

/*------/ Nav Pills  /------*/
.nav-pills-a {
  text-decoration: none;
}
.nav-pills-a.nav-pills .nav-link {
  color: #000000;
  position: relative;
  font-weight: 600;
}
.nav-pills-a.nav-pills .nav-link.active {
  background-color: transparent;
}
.nav-pills-a.nav-pills .nav-link.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #e60000;
  z-index: 2;
}

/*------/ Bg Image /------*/
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/*------/ List a /------*/
.list-a {
  text-decoration: none;
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
}
.list-a li {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 25px;
  padding-right: 5px;
}
@media (min-width: 992px) {
  .list-a li {
    width: 33.333%;
  }
}
.list-a li:before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #e60000;
  top: 15px;
  left: 0;
}

/*------/ Pagination-a /------*/
.pagination-a {
  text-decoration: none;
}
.pagination-a .pagination .page-link {
  margin: 0 0.2rem;
  border-color: transparent;
  padding: 0.5rem 0.8rem;
  color: #000000;
}
.pagination-a .pagination .page-link:hover, .pagination-a .pagination .page-link:active, .pagination-a .pagination .page-link:focus {
  background-color: #e60000;
}
.pagination-a .pagination .page-link span {
  font-size: 1.2rem;
}
.pagination-a .pagination .next .page-link {
  padding: 0.4rem 0.9rem;
}
.pagination-a .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination-a .pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination-a .pagination .page-item.disabled .page-link {
  padding: 0.4rem 0.9rem;
  color: #555555;
}
.pagination-a .pagination .page-item.active .page-link {
  background-color: #e60000;
}

.a {
  text-decoration: none;
  color: #e60000;
  font-size: 1.3rem;
}

/*------/ Icon Box /------*/
.icon-box .icon-box-icon {
  display: table-cell;
  vertical-align: top;
  font-size: 36px;
  color: #000000;
  width: 50px;
  padding-top: 8px;
}
.icon-box .icon-box-content {
  padding-top: 18px;
}

/*------/ Space Padding /------*/
.section-t8 {
  padding-top: 8rem;
}
@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem;
  }
}

.section-t4 {
  padding-top: 4rem;
}
@media (max-width: 767px) {
  .section-t4 {
    padding-top: 2rem;
  }
}

.section-t3 {
  padding-top: 3rem;
}

@media (max-width: 767px) {
  .section-md-t3 {
    padding-top: 3rem;
  }
}

.section-b2 {
  padding-bottom: 2rem;
}

.section-tb85 {
  padding: 8rem 0 5rem 0;
}
@media (max-width: 767px) {
  .section-tb85 {
    padding: 4rem 0 2.5rem 0;
  }
}

/*------/ Title /------*/
.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 600;
}

.title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;
}
.title-link a {
  text-decoration: none;
  color: #313131;
}
.title-link span {
  font-size: 20px;
  padding-left: 4px;
  vertical-align: middle;
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}
.title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}
.title-box-d .title-d:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #e60000;
  bottom: 20px;
  left: 0;
}

/*------/ Display Table & Table Cell /------*/
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*------/ Ul Resect /------*/
.ul-resect ul, .box-comments ul, .list-a ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*------/ Overlay /------*/
.overlay-a {
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.carousel-pagination {
  margin-top: 10px;
  text-align: center;
}
.carousel-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 10px;
  background-color: #555;
  margin: 0 4px;
  border-radius: 0;
  opacity: 1;
  transition: 0.3s;
}
.carousel-pagination .swiper-pagination-bullet-active {
  background-color: #e60000;
  width: 36px;
}

.nav-arrow-a {
  text-decoration: none;
}
.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}
.nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-prev,
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  padding: 0.7rem 1.5rem !important;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #e60000;
  opacity: 0.9;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
.nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
.nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
  background-color: #26a356;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  margin-left: 0px;
}

/*------/ Socials /------*/
.socials-a {
  text-decoration: none;
}
.socials-a .list-inline-item:not(:last-child) {
  margin-right: 25px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e60000;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #4bd680;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #e60000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*======================================
//--//-->   BUTTON
======================================*/
.btn {
  transition: 0.5s ease;
}
.btn.btn-a, .btn.btn-b {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: 0.05rem;
}
.btn.btn-a {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}
.btn.btn-a:hover {
  background-color: #e60000;
  color: #000000;
}
.btn.btn-b {
  background-color: #e60000;
  color: #000000;
}
.btn.btn-b:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn.btn-b-n {
  background-color: #e60000;
  color: #ffffff;
  border-radius: 0;
}
.btn.btn-b-n:hover {
  background-color: #26a356;
  color: #ffffff;
}

.navbar-toggle-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 10px;
}
.navbar-toggle-box i {
  line-height: 0;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar-default {
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  border-bottom: 4px solid #f1e100;
}
.navbar-default .nav-search {
  color: #000000;
  font-size: 1.5rem;
}
.navbar-default.navbar-reduce {
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}
.navbar-default.navbar-trans, .navbar-default.navbar-reduce {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-bottom: 8px;
  margin-left: 0;
}

@media (min-width: 768px) {
  .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
    margin-left: 17px;
  }
}
.navbar-default.navbar-trans .nav-link, .navbar-default.navbar-reduce .nav-link {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.navbar-default.navbar-trans .nav-link:before, .navbar-default.navbar-reduce .nav-link:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 0;
  background-color: #e60000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
}

.navbar-default.navbar-trans .nav-link:hover, .navbar-default.navbar-reduce .nav-link:hover {
  color: #000000;
}
.navbar-default.navbar-trans .nav-link:hover:before, .navbar-default.navbar-reduce .nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar-default.navbar-trans .show > .nav-link:before,
.navbar-default.navbar-trans .active > .nav-link:before,
.navbar-default.navbar-trans .nav-link.show:before,
.navbar-default.navbar-trans .nav-link.active:before, .navbar-default.navbar-reduce .show > .nav-link:before,
.navbar-default.navbar-reduce .active > .nav-link:before,
.navbar-default.navbar-reduce .nav-link.show:before,
.navbar-default.navbar-reduce .nav-link.active:before {
  transform: scaleX(1);
}
.navbar-default.navbar-trans .nav-link:before {
  background-color: #e60000;
}
.navbar-default.navbar-trans .nav-link:hover {
  color: #000000;
}
.navbar-default.navbar-trans .show > .nav-link,
.navbar-default.navbar-trans .active > .nav-link,
.navbar-default.navbar-trans .nav-link.show,
.navbar-default.navbar-trans .nav-link.active {
  color: #000000;
}
.navbar-default.navbar-reduce {
  transition: all 0.5s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default.navbar-reduce .nav-link {
  color: #000000;
}
.navbar-default.navbar-reduce .nav-link:before {
  background-color: #e60000;
}
.navbar-default.navbar-reduce .nav-link:hover {
  color: #000000;
}
.navbar-default.navbar-reduce .show > .nav-link,
.navbar-default.navbar-reduce .active > .nav-link,
.navbar-default.navbar-reduce .nav-link.show,
.navbar-default.navbar-reduce .nav-link.active {
  color: #000000;
}
.navbar-default.navbar-reduce .navbar-brand {
  color: #000000;
}
.navbar-default .dropdown .dropdown-menu {
  border-top: 0;
  border-left: 4px solid #e60000;
  border-right: 0;
  border-bottom: 0;
  transform: translate3d(0px, 40px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
  margin: 0;
  border-radius: 0;
  padding: 12px 0;
}
@media (min-width: 768px) {
  .navbar-default .dropdown .dropdown-menu {
    border-top: 4px solid #e60000;
    border-left: 0;
    display: block;
    position: absolute;
    box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
  }
}
.navbar-default .dropdown .dropdown-menu .dropdown-item {
  padding: 12px 18px;
  transition: all 500ms ease;
  font-weight: 600;
  min-width: 220px;
}
.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #ffffff;
  color: #e60000;
  transition: all 500ms ease;
}
.navbar-default .dropdown .dropdown-menu .dropdown-item.active {
  background-color: #ffffff;
  color: #e60000;
}
.navbar-default .dropdown:hover .dropdown-menu {
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=1);
}

/*------/ Hamburger Navbar /------*/
.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #000000;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

/*======================================
//--//-->   BOX COLAPSE
======================================*/
.box-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1040;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: all 0.6s ease;
}
@media (min-width: 768px) {
  .box-collapse {
    width: 50%;
  }
}
.box-collapse .title-box-d {
  top: 30px;
  left: 60px;
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 0.3s;
}
@media (max-width: 575px) {
  .box-collapse .title-box-d {
    left: 35px;
  }
}
@media (max-width: 575px) {
  .box-collapse .title-box-d .title-d {
    font-size: 1.3rem;
  }
}

.box-collapse-wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 6.5rem;
  bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  transform: translateY(3rem);
  transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
}

.box-collapse-open .click-closed {
  visibility: visible;
}
.box-collapse-open .box-collapse {
  transform: translateX(0);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
  opacity: 1;
}
.box-collapse-open .box-collapse .title-box-d {
  transform: translate(0);
  opacity: 1;
}
.box-collapse-open .box-collapse-wrap {
  transform: translate(0);
  opacity: 1;
}

.box-collapse-closed .box-collapse {
  opacity: 0.7;
  transition-delay: 0s;
}
.box-collapse-closed .box-collapse .title-box-d {
  opacity: 0;
  transition-delay: 0s;
}
.box-collapse-closed .box-collapse .form-a {
  opacity: 0;
  transition-delay: 0s;
}

.click-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1035;
  background-color: #000000;
  opacity: 0.4;
}

.close-box-collapse {
  position: absolute;
  z-index: 1050;
  top: 2rem;
  font-size: 3.5rem;
  line-height: 1;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-boxed {
  right: 4.2857rem;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.intro {
  height: 100vh;
  position: relative;
  color: #ffffff;
}
.intro .swiper-pagination {
  bottom: 50px;
}
.intro .swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 0;
  opacity: 1;
  transition: 0.3s;
}
.intro .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e60000;
  width: 36px;
}
.intro .intro-item {
  padding-top: 2rem;
}
.intro .carousel-item-a {
  position: relative;
  height: 100vh;
}
.intro .carousel-item-a.bg-image {
  background-attachment: scroll;
}
.intro .intro-content {
  position: absolute;
}
.intro .intro-body {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .intro .intro-body {
    padding-left: 2rem;
  }
}
.intro .intro-body .price-a {
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: 2px solid #e60000;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.intro .spacial {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  color: #ffffff;
}
.intro .intro-title-top {
  margin-bottom: 1rem;
  font-size: 1.3rem!important;
  color: #ffffff;
  letter-spacing: 0.05em;
}
@media (min-width: 768px) {
  .intro .intro-title-top {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .intro .intro-title-top {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
.intro .intro-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .intro .intro-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .intro .intro-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .intro .intro-title {
    font-size: 4rem;
  }
}
.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .intro .intro-subtitle {
    font-size: 2.5rem;
  }
}
.intro .intro-subtitle.intro-price {
  padding-top: 0.rem;
  font-size: 0.9rem!important;
}
@media (min-width: 576px) {
  .intro .intro-subtitle.intro-price {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .intro .intro-subtitle.intro-price {
    padding-top: 2rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .intro .intro-subtitle.intro-price {
    padding-top: 3rem;
  }
}


.recolor{
    color: #f1e100;
    background-color: #e60000;
  border-radius: unset;
 margin-left: 2px;
}

.recolor:hover {
  background-color: #f1e100;
  color: #e60000;
}

.section-heading {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px; }
  .section-heading img {
    margin-bottom: 10px; }
  .section-heading h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px; } }
  .section-heading p {
    color: #e60000;
    font-size: 14px;
    margin-bottom: 0;
    font-style: italic; }
  .section-heading a{
    text-decoration: underline;
    color: #000;
  }
  .section-heading a:hover{
    text-decoration: underline;
    color: #e60000;
  }

.section-padding-100-0 {
  padding: 100px 0 0; }

.single-featured-property {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: hidden;
  margin-bottom: 30px; }
  .single-featured-property .property-thumb {
    position: relative;
    z-index: 1; }
    .single-featured-property .property-thumb .tag span {
      height: 35px;
      padding: 0 20px;
      background-color: #e60000;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      display: inline-block;
      line-height: 35px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-featured-property .property-thumb .list-price p {
      background-color: #ffffff;
      padding: 8px 15px;
      color: #000000;
      font-size: 20px;
      font-weight: 600;
      display: inline-block;
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 10;
      margin-bottom: 0;
      line-height: 1;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }

    .house-description {
      font-size: 15px;}

      .single-featured-property:hover {
        cursor: pointer!important;
      }

  .single-featured-property .property-content {
    padding: 30px;
    border: 1px solid #e1dddd; }
    .single-featured-property .property-content h5 {
      font-size: 18px;
      color: #e60000; }
    .single-featured-property .property-content p {
      margin-bottom: 30px; }
    .single-featured-property .property-content .location {
      color: #e60000;
      margin-bottom: 25px;
      font-size: 14px;
      font-weight: 600; }
      .single-featured-property .property-content .location img {
        margin-right: 10px;
        display: inline-block !important;
        width: auto !important; }
    .single-featured-property .property-content .property-meta-data span {
      font-size: 12px;
      font-weight: 600;
      margin-left: 5px;
      color: #838383; }
    .single-featured-property .property-content span:hover {
      color: #000;}
    .single-featured-property .property-content .property-meta-data img {
      margin-right: 10px;
      display: inline-block !important;
      width: auto !important; }
      @media only screen and (max-width: 767px) {
        .single-featured-property .property-content .property-meta-data img {
          margin-right: 0; } }
  .single-featured-property:hover, .single-featured-property:focus {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); }
    .single-featured-property:hover .tag span, .single-featured-property:focus .tag span {
      background-color: #000000;
      color: #ffffff; }
    .single-featured-property:hover .list-price p, .single-featured-property:focus .list-price p {
      background-color: #000000;
      color: #ffffff; }
    .single-featured-property:hover .property-content span {
      color: #000; }

.heading-section .subheading {
  line-height: .8;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f34573; }

.heading-section h2 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparent;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff; }

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px!important; }

.blog-entry {
  width: 100%;
  display: block; }
  @media (min-width: 768px) {
    .blog-entry {
      margin-bottom: 30px; } }
  @media (max-width: 767.98px) {
    .blog-entry {
      margin-bottom: 30px; } }
  .blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
    width: 100%; }
    .blog-entry .text .heading {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 400; }
      .blog-entry .text .heading a {
        color: #fff; }
        .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
          color: ; }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px; }
    .blog-entry .meta > div a {
      color: #e60000;
      font-size: 14px; }
      .blog-entry .meta > div a:hover {
        color: #666666; }
.call-to-action-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 650px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .call-to-action-area {
      height: 500px; } }
  @media only screen and (max-width: 767px) {
    .call-to-action-area {
      height: 500px; } }
  .call-to-action-area .cta-content h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 26px;
    letter-spacing: 0.5px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .call-to-action-area .cta-content h2 {
        font-size: 40px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .call-to-action-area .cta-content h2 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .call-to-action-area .cta-content h2 {
        font-size: 24px; } }
  .call-to-action-area .cta-content h6 {
    font-size: 21px;
    color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .call-to-action-area .cta-content h6 {
        font-size: 24px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .call-to-action-area .cta-content h6 {
        font-size: 18px; } }
    @media only screen and (max-width: 767px) {
      .call-to-action-area .cta-content h6 {
        font-size: 16px; } }
.bg-fixed {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.bg-overlay-black {
  position: relative;
  z-index: 1; }
  .bg-overlay-black::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    content: ''; }
.south-btn {
  position: relative;
  z-index: 1;
  min-width: 170px;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background-color: #e60000;
  border-radius: 0;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase; }
  .south-btn.active, .south-btn:hover, .south-btn:focus {
    color: #ffffff;
    background-color: #000000; }

.footer-area {
  position: relative;
  z-index: 1;
  overflow-x: hidden; }
  .footer-area .copywrite-text {
    width: 100%;
    height: 60px;
    background-color: #111113;
    padding: 0 15px; }
    .footer-area .copywrite-text p {
      margin-bottom: 0;
      font-size: 12px;
      color: #7d7d7d; }
      .footer-area .copywrite-text p a {
        font-size: 12px;
        color: #7d7d7d; }

.footer-widget-area .widget-title {
  margin-bottom: 40px; }
  .footer-widget-area .widget-title h6 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid;
    border-color: #e60000;
    line-height: 1.8;
    display: inline-block; }
.footer-widget-area p {
  color: #7d7d7d;
  margin-bottom: 0;
  font-weight: 400; }
.footer-widget-area .weekly-office-hours ul li {
  padding: 15px 0;
  display: block;
  border-bottom: 1px solid #7d7d7d; }
  .footer-widget-area .weekly-office-hours ul li span {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: 400; }
  .footer-widget-area .weekly-office-hours ul li:first-of-type {
    padding-top: 0; }
.footer-widget-area .address {
  margin-top: px; }
  .footer-widget-area .address h6 {
    position: relative;
    z-index: 1;
    color: #7d7d7d;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; }
  .footer-widget-area .address li {
    position: relative;
    z-index: 1;
    color: #7d7d7d;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.5; }
    .address a {
      color: #7d7d7d;
      font-size: 14px;
    }
    .address a:hover, .address a:focus {
      color: #e60000;
    }
    .footer-widget-area .address h6 img {
      position: absolute;
      top: 4px;
      z-index: 10;
      left: 0; }
.footer-widget-area .useful-links-nav {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-widget-area .useful-links-nav li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%; }
    .footer-widget-area .useful-links-nav li a {
      padding: 15px 0;
      display: block;
      color: #7d7d7d;
      font-weight: 400; }
      .footer-widget-area .useful-links-nav li a:first-child, .footer-widget-area .useful-links-nav li a:nth-child(2) {
        padding-top: 0; }
      .footer-widget-area .useful-links-nav li a:hover, .footer-widget-area .useful-links-nav li a:focus {
        color: #e60000 ; }
.footer-widget-area .featured-properties-slides {
  position: relative;
  z-index: 1; }
  .footer-widget-area .featured-properties-slides .owl-prev,
  .footer-widget-area .featured-properties-slides .owl-next {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    left: -19px;
    opacity: 0;
    visibility: hidden;
    margin-top: -19px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #e60000;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15); }
    .footer-widget-area .featured-properties-slides .owl-prev:hover,
    .footer-widget-area .featured-properties-slides .owl-next:hover {
      background-color: #000000; }
  .footer-widget-area .featured-properties-slides .owl-next {
    left: auto;
    right: -19px; }
  .footer-widget-area .featured-properties-slides:hover .owl-prev, .footer-widget-area .featured-properties-slides:hover .owl-next {
    opacity: 1;
    visibility: visible; }